<div class='container-box container-box-lg'>
	<div class='panel panel-default panel-profile'>
		<div class='panel-banner'>
			<div class='avatar'>
				<img class='img-thumbnail' src='/img/avatar.jpg?v={{_global.version}}'>
			</div>
			<div class='panel-name'>
				<h1>Christos Georgiou</h1>
				<h2>Software Developer / Code Artist</h2>
			</div>
		</div>
		<div class='panel-body'>
			<h3 class="page-header">
				<a href="index.html">
					<span class="fa fa-angle-double-left"></span>
				</a> Projects
			</h3>
			<div class="project-list">
				<div class="row">
					{{#each columns}}
					<div class="col-sm-4">
						{{#each items}}
						<h4>
							<span class="fa fa-fw fa-{{icon}}"></span> {{alias}}</h4>
						{{#each items}}
						<div class="project-item">
							<span class="project-item-info">{{value}}%</span>
							<span class="project-item-title">{{title}}</span>
							{{#if link}}
							<a href="{{link}}">
								<span class="fa fa-external-link"></span>
							</a>{{/if}}
							<div class="project-item-description">{{description}}</div>
							<div class="progress">
								<div class="progress-bar" style="width: {{value}}%;"></div>
							</div>
						</div>
						{{/each}} {{/each}}
					</div>
					{{/each}}
				</div>
			</div>

			<a class="pi" href="projects.html">π</a>
		</div>
	</div>
</div>