{{>_start}}
<div class='container-fluid'>
	<section class="header">
		<h1>Likes
			<span class="fas fa-thumbs-up"></span>
		</h1>
		<h2>You are what you share</h2>
	</section>
	<section class="likes">
		{{#each items}} {{#if _show}}
		<div class="card">
			<div class="card-body">
				<div class="media">
					<div class="flex-column align-items-start mr-3" style="width:150px">
						<a href="{{link}}" target="_blank">
							<img class="img-thumbnail bg-dark border-secondary" src="{{img}}" alt="image of {{title}}">
						</a>
						<hr class="mt-2 mb-2" /> {{#each links}}
						<a href="{{url}}" target="_blank" class="btn btn-sm btn-outline-secondary btn-block">{{label}}</a>
						{{/each}}
					</div>
					<div class="media-body flex-column align-items-start mb-auto">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{title}}</h5>
							<small class="text-secondary">{{date}}</small>
						</div>
						{{#each tags}}
						<small class="badge badge-secondary">{{this}}</small>
						{{/each}}
						<hr class="mt-2 mb-2"> {{#each desc}}
						<p>
							<small>{{this}}</small>
						</p>{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{/if}} {{/each}}
	</section>
</div>
{{>_end}}